
{% extends 'logs/base.html' %}
{% block content %}

<h1>Pilot Information </h1>
<table class="center" >
    <tr>
        <th>Pilot Name</th>
        <td>{{pilot.first_name}} {{pilot.last_name}}</td>
    </tr>
    <tr>
        <th>DOB</th>
        <td>{{pilot.date_of_birth}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{pilot.gender}}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{pilot.phone}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{pilot.email}}</td>
    </tr>
    <tr>
        <th>Address 1</th>
        <td>{{pilot.address1}}</td>
    </tr>
    <tr>
        <th>Address 2</th>
        <td>{{pilot.address2}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{pilot.city}}</td>
    </tr>
    <tr>
        <th>State</th>
        <td>{{pilot.state}}</td>
    </tr>
    <tr>
        <th>Zipcode</th>
        <td>{{pilot.zipcode}}</td>
    </tr>

</table>
<a href="edit"><button type="button"> Edit </button> </a>




<h1> Logbook Section </h1>

<table class="table table-striped " >
{% for lbe in pilot_logs %}
<tr>
    <th>Departure Airport</th>
    <td>{{ lbe.departure_apt }}</td>

    <th>Arrival Airport</th>
    <td>{{ lbe.arrival_apt }}</td>

    <th>Date </th>
    <td>{{ lbe.departure_date }}</td>

    <th>Total Flight Time </th>
    <td>{{ lbe.total_duration_of_flight }}</td>

    <td><a href="/logbook_entry_edit/{{lbe.id}}"><button type="button"> Edit </button> </a></td>
    <td><a href="#"><button type="button" class="btn btn-danger">Delete</button> </a></td>

    

</tr>

{% endfor %}
</table>

<a href="add_logbook_entry"><button type="button"> Add New Entry </button> </a>

{% endblock %}
