
{% extends 'logs/base.html' %}
{% block content %}

<h1>Pilot Information <a href="edit"><button type="button"> Edit </button> </a> </h1>


<table class="table table-dark table-striped " >
    <tr>
        <th>Pilot Name</th>
        <td>{{pilot.first_name}} {{pilot.last_name}}</td>
    </tr>
    <tr>
        <th>DOB</th>
        <td>{{pilot.date_of_birth}}</td>
    </tr>
    <tr>
        <th>Gender</th>
        <td>{{pilot.gender}}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{pilot.phone}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{pilot.email}}</td>
    </tr>
    <tr>
        <th>Address 1</th>
        <td>{{pilot.address1}}</td>
    </tr>
    <tr>
        <th>Address 2</th>
        <td>{{pilot.address2}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{pilot.city}}</td>
    </tr>
    <tr>
        <th>State</th>
        <td>{{pilot.state}}</td>
    </tr>
    <tr>
        <th>Zipcode</th>
        <td>{{pilot.zipcode}}</td>
    </tr>

</table>

{% endblock %}
